# Игнорируем всё по умолчанию
/*

# Разрешаем только нужные файлы
!/README.md
!/*.py
!/e171.kzb
!/.gitignore

# Игнорируем временные папки Python, если они появятся в поддиректориях
**/__pycache__/
*.py[cod]
*$py.class
